# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/
*.egg-info/
.installed.cfg
*.manifest
*.spec
certs/
gcp-oauth.keys.json
# MyPy
.mypy_cache/
.dmypy.json
dmypy.json
db/
chroma/
# pytest
.pytest_cache/

# project specific
kokoro-v1.0.onnx
voices-v1.0.json
eve_memory_local/
mem0_storage/
